<config>
    <modules>
        <Developmint_Savedcc>
            <version>0.5.0</version>
        </Developmint_Savedcc>
    </modules>
    <global>
        <!--
         register the module's model group
         note that we use the module's alias
         mentioned in the prerequisites
        -->

        <events>
            <sales_order_place_after>
                <observers>
                    <Developmint_Savedcc_model_observer>
                        <type>singleton</type>
                        <class>Developmint_Savedcc_Model_Observer</class>
                        <method>removeLegacyEntry</method>
                    </Developmint_Savedcc_model_observer>
                </observers>
            </sales_order_place_after>
        </events>
        <helpers>
            <savedcc>
                <class>Developmint_Savedcc_Helper</class>
            </savedcc>
        </helpers>
        <models>
            <savedcc>
                <class>Developmint_Savedcc_Model</class>
                <resourceModel>savedcc_resource</resourceModel>
            </savedcc>
            <savedcc_resource>
                <class>Developmint_Savedcc_Model_Resource</class>
                <entities>
                    <savedcreditcards>
                        <table>developmint_saved_credit_cards</table>
                    </savedcreditcards>
                    <savedcclegacy>
                        <table>developmint_savedcc_legacy</table>
                    </savedcclegacy>
                </entities>
            </savedcc_resource>

            <paypal>
                <rewrite>
                    <payflowpro>Developmint_Savedcc_Model_PayflowProAllowSave</payflowpro>
                </rewrite>
            </paypal>
            <firstdataglobalgateway>
                <rewrite>
                    <firstdataglobalgateway>Developmint_Savedcc_Model_FirstDataGGe4AllowSave</firstdataglobalgateway>
                </rewrite>
            </firstdataglobalgateway>
        </models>
        <resources>
            <savedcc_setup>
                <setup>
                    <module>Developmint_Savedcc</module>
                    <class>Developmint_Savedcc_Model_Resource_Setup</class>
                </setup>
            </savedcc_setup>
        </resources>
        <blocks>
            <developmint_savedcc>
                <class>Developmint_Savedcc_Block</class>
            </developmint_savedcc>
        </blocks>
    </global>
    <frontend>
        <routers>
            <savedcc>
                <use>standard</use>
                <args>
                    <module>Developmint_Savedcc</module>
                    <frontName>savedcc</frontName>
                </args>
            </savedcc>
        </routers>
    </frontend>

    <!--
    <events>
        <sales_order_place_after>
            <observers>
                <Developmint_Autoship_model_observer>
                    <type>singleton</type>
                    <class>Developmint_Autoship_Model_Observer</class>
                    <method>addAutoshipOrder</method>
                </Developmint_Autoship_model_observer>
            </observers>
        </sales_order_place_after>
        <checkout_allow_guest>
            <observers>
                <Developmint_Autoship_model_observer>
                    <type>singleton</type>
                    <class>Developmint_Autoship_Model_Observer</class>
                    <method>checkForAutoship</method>
                </Developmint_Autoship_model_observer>
            </observers>
        </checkout_allow_guest>
        <customer_login>
            <observers>
                <Developmint_Autoship_model_observer>
                    <type>singleton</type>
                    <class>Developmint_Autoship_Model_Observer</class>
                    <method>customerLogin</method>
                </Developmint_Autoship_model_observer>
            </observers>
        </customer_login>
    </events>
    -->
    <default>
        <payment>
            <savedcc>
                <!--
                 is this payment method enabled?
                -->
                <active>0</active>

                <!--
                 this is where we tell the system what
                 class to use to handle all of the payment
                 logic. we call this class the payment
                 adapter model class. you can change the
                 paymentLogic bit to be what you want
                 but it has to be lowerCamelCase and
                 the class name will have to be changed later
                 on as you will see
                -->

                <model>savedcc/savedFirstDataGGe4</model>


                <order_status>processing</order_status>
                <title>Saved Credit Card</title>

                <!--
                 this is the default set of allowed credit
                 card types. leave this as it is for now
                -->

                <cctypes>AE,VI,MC,DI,SS</cctypes>


                <!--
                 this should be authorize or authorize_capture
                 you can probably guess that authorize just
                 authorizes the payment but authorize_capture
                 processes it as well
                -->
                <payment_action>authorize_capture</payment_action>

                <!--
                 this field is used to say whether you only
                 want this method to be used for certain
                 countries but that is not covered by this
                 tutorial
                -->
                <allowspecific>0</allowspecific>
            </savedcc>

            <payflowprosavedcc>
                <!--
                 is this payment method enabled?
                -->
                <active>0</active>

                <!--
                 this is where we tell the system what
                 class to use to handle all of the payment
                 logic. we call this class the payment
                 adapter model class. you can change the
                 paymentLogic bit to be what you want
                 but it has to be lowerCamelCase and
                 the class name will have to be changed later
                 on as you will see
                -->

                <model>savedcc/savedPayflowPro</model>


                <order_status>processing</order_status>
                <title>Payflow Pro Saved Credit Card</title>

                <!--
                 this is the default set of allowed credit
                 card types. leave this as it is for now
                -->

                <cctypes>AE,VI,MC,DI,SS</cctypes>


                <!--
                 this should be authorize or authorize_capture
                 you can probably guess that authorize just
                 authorizes the payment but authorize_capture
                 processes it as well
                -->
                <payment_action>authorize_capture</payment_action>

                <!--
                 this field is used to say whether you only
                 want this method to be used for certain
                 countries but that is not covered by this
                 tutorial
                -->
                <allowspecific>0</allowspecific>
            </payflowprosavedcc>
        </payment>
    </default>

</config>